<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
  </head>
  <body>
  	<div class="container" id="menu">
  		<h1 class="lead"><%= title %></h1>

		<div class="lead">
			<a class="btn btn-small btn-primary" data-bind="click: addMenu"><i class="icon-plus"></i> 增加菜单项</a>
			<a class="btn btn-small" data-bind="click: addMenuType"><i class="icon-plus"></i> 增加菜单类别项</a>
		</div>

	    <table class="table table-hover table-bordered">
	    	<caption></caption>
	  		<thead>
	  			<tr>
		  			<th>序号</th>
		  			<th>名称</th>
		  			<th>类别</th>
		  			<th>链接地址</th>
		  			<th>菜单参数</th>
		  			<th>授权角色</th>
		  			<th>操作</th>
	  			</tr>
	  		</thead>
	  		<tbody data-bind="foreach: list">
	  			<tr>
	  				<td data-bind="text: $index"></td>
	  				<td data-bind="text: name"></td>
	  				<td data-bind="text: type"></td>
	  				<td data-bind="text: url"></td>
	  				<td data-bind="text: params"></td>
	  				<td data-bind="text: roles"></td>
	  				<td>
						<a class="btn btn-mini"><i class="icon-edit"></i> 编辑</a>
						<a class="btn btn-mini"><i class="icon-remove"></i> 删除</a>
	  				</td>
	  			</tr>
	  		</tbody>
	  	</table>
	  	<div id="edit_menu" class="modal hide fade">
	    	<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3>编辑菜单内容</h3>
			</div>
			<div class="modal-body" data-bind="with: currentMenuViewModel">
				<div class="form-horizontal">
					<div class="control-group">
					    <label class="control-label" for="name">名称：</label>
					    <div class="controls">
					      <input type="text" id="name" data-bind="text: name" placeholder="Email" />
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="type">类别：</label>
					    <div class="controls">
					      <select id="type" data-bind="text: name" ></select>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="url">链接地址：</label>
					    <div class="controls">
					      <input type="text" id="url" data-bind="text: url" placeholder="Email"/>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="name">菜单参数：</label>
					    <div class="controls">
					      <input type="text" id="params" data-bind="text: params" />
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="name">授权角色：</label>
					    <div class="controls">
					        <label class="checkbox inline">
					      		<input type="checkbox" class="input-checkbox" data-bind="checked: roles" />角色1
					        </label>
					        <label class="checkbox inline">
					      		<input type="checkbox" class="input-checkbox" data-bind="checked: roles" />角色1
					        </label>
					        <label class="checkbox inline">
					      		<input type="checkbox" class="input-checkbox" data-bind="checked: roles" />角色1
					        </label>
					    </div>
					</div>
		    	</div>
	        </div>
	        <div class="modal-footer">
			    <a href="#" class="btn">退出</a>
			    <a href="#" class="btn btn-primary" data-bind="click: save">保存</a>
		  	</div>
    	</div>
  	</div>

    <div id="edit_menu_type" class="modal hide fade">
    	<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3>编辑菜单类别</h3>
		</div>
		<div class="modal-body">
	    	<p>
	    		<label>名称：</label>
	    		<input type="text" id="typeName" class="input-txt" />
	    		<label>序号：</label>
	    		<input type="text" id="typeName" class="input-txt" />
	    		<input type="submit" id="btn_save_menutype" value="保存" class="input-btn" />
	    	</p>
        </div>
        <div class="modal-footer">
		    <a href="#" class="btn">退出</a>
		    <a href="#" class="btn btn-primary">保存</a>
	  	</div>
    </div>
    <script src="/javascripts/libs/require.js"></script>
    <script type="text/javascript">
    	<% include ../requirejs-config %>
    	require(['/javascripts/admin/menu.js'])
    </script>
  </body>
</html>