/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 14px/20px 'Microsoft YaHei', arial;
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
}
/* function */
.f-cb:after,
.f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.f-cb,
.f-cbli li {
  zoom: 1;
}
.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.f-dn {
  display: none;
}
.f-db {
  display: block;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-pr {
  position: relative;
}
.f-prz {
  position: relative;
  zoom: 1;
}
.f-oh {
  overflow: hidden;
}
.f-ff0 {
  font-family: arial;
}
.f-ff1 {
  font-family: "Microsoft YaHei", arial;
}
.f-fs1 {
  font-size: 12px;
}
.f-fs2 {
  font-size: 14px;
}
.f-fwn {
  font-weight: normal;
}
.f-fwb {
  font-weight: bold;
}
.f-tal {
  text-align: left;
}
.f-tac {
  text-align: center;
}
.f-tar {
  text-align: right;
}
.f-taj {
  text-align: justify;
  text-justify: inter-ideograph;
}
.f-vam,
.f-vama * {
  vertical-align: middle;
}
.f-wsn {
  word-wrap: normal;
  white-space: nowrap;
}
.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.f-ti {
  overflow: hidden;
  text-indent: -30000px;
}
.f-ti2 {
  text-indent: 2em;
}
.f-lhn {
  line-height: normal;
}
.f-tdu,
.f-tdu:hover {
  text-decoration: underline;
}
.f-tdn,
.f-tdn:hover {
  text-decoration: none;
}
.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.f-csp {
  cursor: pointer;
}
.f-csd {
  cursor: default;
}
.f-csh {
  cursor: help;
}
.f-csm {
  cursor: move;
}
.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.m-t10 {
  margin-top: 10px;
}
body {
  padding-top: 60px;
  font: 14px/20px "微软雅黑";
  color: #606060;
  background: url('/images/bg.jpg');
}
a {
  color: #333333;
}
a:hover {
  color: #eb9534;
}
.icon-music,
.icon-search,
.icon-envelope,
.icon-heart,
.icon-star,
.icon-star-empty,
.icon-user,
.icon-film,
.icon-th-large,
.icon-th,
.icon-th-list,
.icon-ok,
.icon-remove,
.icon-zoom-in,
.icon-zoom-out,
.icon-off,
.icon-off,
.icon-signal,
.icon-cog,
.icon-trash,
.icon-home,
.icon-file,
.icon-time,
.icon-road,
.icon-download-alt,
.icon-download,
.icon-upload,
.icon-inbox,
.icon-play-circle,
.icon-repeat,
.icon-refresh,
.icon-list-alt,
.icon-lock,
.icon-flag,
.icon-headphones,
.icon-volume-off,
.icon-volume-down,
.icon-volume-up,
.icon-qrcode,
.icon-barcode,
.icon-tag,
.icon-tags,
.icon-book,
.icon-bookmark,
.icon-print,
.icon-camera,
.icon-font,
.icon-bold,
.icon-italic,
.icon-text-height,
.icon-text-width,
.icon-align-left,
.icon-align-center,
.icon-align-right,
.icon-align-justify,
.icon-list,
.icon-indent-left,
.icon-indent-right,
.icon-facetime-video,
.icon-picture,
.icon-pencil,
.icon-map-marker,
.icon-adjust,
.icon-tint,
.icon-edit,
.icon-share,
.icon-check,
.icon-move,
.icon-step-backward,
.icon-fast-backward,
.icon-backward,
.icon-play,
.icon-pause,
.icon-stop,
.icon-forward,
.icon-fast-forward,
.icon-step-forward,
.icon-eject,
.icon-chevron-left,
.icon-chevron-right,
.icon-plus-sign,
.icon-minus-sign,
.icon-remove-sign,
.icon-ok-sign,
.icon-question-sign,
.icon-info-sign,
.icon-screenshot,
.icon-remove-circle,
.icon-ok-circle,
.icon-ban-circle,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-down,
.icon-share-alt,
.icon-resize-full,
.icon-resize-small,
.icon-plus,
.icon-minus,
.icon-asterisk,
.icon-exclamation-sign,
.icon-gift,
.icon-leaf,
.icon-fire,
.icon-eye-open,
.icon-eye-close,
.icon-warning-sign,
.icon-plane,
.icon-calendar,
.icon-random,
.icon-comment,
.icon-magnet,
.icon-chevron-up,
.icon-chevron-down,
.icon-retweet,
.icon-shopping-cart,
.icon-folder-close,
.icon-folder-open,
.icon-resize-vertical,
.icon-resize-horizontal,
.icon-hdd,
.icon-bullhorn,
.icon-bell,
.icon-certificate,
.icon-thumbs-up,
.icon-thumbs-down,
.icon-hand-right,
.icon-hand-left,
.icon-hand-up,
.icon-hand-down,
.icon-circle-arrow-right,
.icon-circle-arrow-left,
.icon-circle-arrow-up,
.icon-circle-arrow-down,
.icon-globe,
.icon-wrench,
.icon-tasks,
.icon-filter,
.icon-briefcase,
.icon-fullscreen {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 4px;
}
.icon-white {
  background-image: url("/images/glyphicons-halflings-white.png");
}
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
  width: 16px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
  width: 16px;
}
.icon-folder-open {
  background-position: -408px -120px;
  width: 16px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}
.icon-hdd {
  background-position: 0 -144px;
}
.icon-bullhorn {
  background-position: -24px -144px;
}
.icon-bell {
  background-position: -48px -144px;
}
.icon-certificate {
  background-position: -72px -144px;
}
.icon-thumbs-up {
  background-position: -96px -144px;
}
.icon-thumbs-down {
  background-position: -120px -144px;
}
.icon-hand-right {
  background-position: -144px -144px;
}
.icon-hand-left {
  background-position: -168px -144px;
}
.icon-hand-up {
  background-position: -192px -144px;
}
.icon-hand-down {
  background-position: -216px -144px;
}
.icon-circle-arrow-right {
  background-position: -240px -144px;
}
.icon-circle-arrow-left {
  background-position: -264px -144px;
}
.icon-circle-arrow-up {
  background-position: -288px -144px;
}
.icon-circle-arrow-down {
  background-position: -312px -144px;
}
.icon-globe {
  background-position: -336px -144px;
}
.icon-wrench {
  background-position: -360px -144px;
}
.icon-tasks {
  background-position: -384px -144px;
}
.icon-filter {
  background-position: -408px -144px;
}
.icon-briefcase {
  background-position: -432px -144px;
}
.icon-fullscreen {
  background-position: -456px -144px;
}
/* 简易表单 */
/* input */
label {
  display: block;
}
.input {
  padding: 8px 10px;
  border: 1px solid #D9D9D9;
  border-top-color: #c0c0c0;
  background: #fff;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 120px;
}
.input-large {
  width: 240px;
}
/* buttons */
.btn {
  background-color: #7dc234;
  color: #eee;
  padding: 8px 10px;
  border: 0px;
}
.btn:hover {
  background: #81a600;
}
.btn-small {
  padding: 4px 8px;
}
.btn-small i {
  margin-top: 2px;
}
/* horizontal-item */
.horizontal-item {
  margin: 5px;
}
.horizontal-item label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 120px;
  text-align: right;
  padding: 8px 10px;
}
.horizontal-item.no-label {
  padding-left: 145px;
}
#header {
  height: 50px;
  background: #e0461b;
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: 100%;
}
#logo {
  background: #7dc234;
  border-right: 1px solid #7dc234;
}
#logo a {
  background: url(/images/logo.png) no-repeat center;
  width: 172px;
  text-indent: -999px;
}
#persion-user {
  border-left: 1px solid #c4401b;
}
#container,
#header-container {
  width: 1000px;
  margin: 0 auto;
}
#footer {
  width: 960px;
  margin: 10px auto;
  padding: 10px 20px 10px;
  background: #fff;
}
#nav_list {
  background-color: #e1f2df;
}
#ad_list {
  font-size: 12px;
  line-height: 18px;
}
.simple-editor {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #7dc234;
}
.simple-editor textarea {
  width: 100%;
  border: 0;
}
.edit_form_fieldset {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.edit_form_fieldset legend {
  padding: 0 10px;
}
.nav {
  font-size: 0px;
}
.nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-right: 1px solid #c4401b;
  line-height: 50px;
  font-size: 14px;
}
.nav li a {
  color: #fff;
  text-decoration: none;
  padding: 0px 20px;
  height: 50px;
  display: block;
}
.nav li a:hover {
  background-color: #c4401b;
}
.search {
  line-height: 30px;
  padding-top: 8px;
  padding-left: 10px;
}
.search-input {
  border: 0;
  padding: 8px 5px;
}
.search-button {
  border: 0;
  background-color: #7dc234;
  color: #eee;
  padding: 8px 10px;
}
.three-columns,
.one-columns {
  margin: 0 0 10px;
  background-color: #fff;
  overflow: hidden;
}
.aside-left,
.aside-right {
  position: relative;
  float: left;
  width: 213px;
  margin: 0 -213px 0 0;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
}
.aside-right {
  float: right;
  width: 250px;
  margin: 0 0 -3000px -250px;
}
.content-mid {
  float: left;
  width: 100%;
}
.content-mid-container {
  margin: 0 270px 0 233px;
}
.aside-left,
.aside-right,
.content-mid-container {
  padding-top: 20px;
}
.aside-nav {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 25px;
}
.split-form fieldset {
  border-width: 1px 0 0 0;
  border-color: #bbb;
  border-style: solid;
  margin: 10px 0 0 0;
  padding: 0 0 6px 15px;
  zoom: 1;
  clear: both;
  overflow: hidden;
  display: block;
}
.split-form legend {
  padding: 1px 5px 0;
  font-weight: bold;
}
.split-form .null-legend {
  height: 1px;
  border-width: 0 0 1px 0;
}
.feed-list {
  margin: 12px 0;
  padding: 10px 0;
  border-top: 3px solid #c4401b;
}
.feed-item {
  border-bottom: 1px solid #eee;
  padding: 15px 5px;
}
.avatar {
  border-radius: 30px;
  display: block;
  width: 64px;
  height: 64px;
  margin-top: 5px;
  overflow: hidden;
}
.avatar:hover {
  border-radius: 0px;
}
.person-info-desc {
  margin: 0 20px 0 80px;
}
.feed-content {
  margin-left: 80px;
}
.feed-body {
  margin: 10px 0;
}
.feed-time,
.feed-tags,
.feed-action {
  color: #ccc;
  font-size: 12px;
}
.feed-time i,
.feed-tags i,
.feed-action i {
  margin-top: 1px;
}
.footer-list {
  width: 170px;
  margin: 10px;
}
.footer-list a {
  color: #e0461b;
}
.footer-list a:hover {
  color: #eb9534;
}
.footer-links {
  margin: 10px;
}
.footer-copy,
.footer-copy a {
  color: #ccc;
}
