<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/admin.css' />
</head>
<body>
	<% include header %>
	<div class="bs-docs-grid" id="index" >
		<div class="row-fluid">
			<div class="span3">
				<div class="accordion" id="accordion_menu" data-bind="foreach:menuType">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_menu" data-bind="attr: {href: _id}, text: name"></a>
						</div>
						<div class="accordion-body collapse in" data-bind="attr:{id: _id}">
							<div class="accordion-inner">
								<ul class="nav nav-list" data-bind="foreach: menus">
									<li>
										<a href="#" data-bind="text: name, click: $root.openMenu"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span9">
				<div class="tabbable" id="tabbable">
					<ul class="nav nav-tabs" data-bind="foreach: tabs">
						<li data-bind="css: (active() ? 'active' : '')">
							<a data-toggle="tab" data-bind="attr: {href : '#'+id}, click: $root.switchTab">
								<span class="close tab-window-close" href="#" data-bind="visible: close, click: $root.colsePane">&times;</span>
								<span data-bind="text: title"></span>
							</a>
						</li>
					</ul>
					<div class="tab-content" data-bind="foreach: { data: tabs, afterRender: $root.resize }"><div class="tab-pane" data-bind="attr:{id: id}, css: active() ? 'active' : ''"><iframe data-bind="attr: {src: url}"></iframe></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/javascripts/libs/require.js"></script>
	<script type="text/javascript">
        <% include ../requirejs-config %>
        var menuData = <%- JSON.stringify(session.admin.role.menus) %>;
        require(['/javascripts/admin/index.js']);
    </script>
</body>
</html>