<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
</head>
<body>
    <% include header %>
    <div class="container" id="login">
        <form id="login_form" class="single-form">
            <fieldset>
                <legend>
                    <%= title %></legend>
                <p data-bind="visible: message.showInDefault, text: message.msg, css: message.type"></p>
                <p>
                    <label>用户名：</label>
                    <input type="text" data-bind="value:loginName" id="loginName" class="input-txt" placeholder="用户名" />
                </p>
                <p>
                    <label>密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                    <input type="password" data-bind="value:password" id="password" class="input-txt" placeholder="密码" />
                </p>
                <p>
                    <input type="submit" value="登录" class="btn btn-primary" data-bind="click:login" />
                </p>
            </fieldset>
        </form>
        <p>
            <a href="regist" class="link-btn">注册新用户</a>
            <a href="forgetpwd" class="link-btn">忘记密码</a>
        </p>
    </div>

    <script src="/javascripts/libs/require.js"></script>
    <script type="text/javascript">
        <% include ../requirejs-config %>require(['/javascripts/admin/login.js'])</script>
</body>
</html>