<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
</head>
<body>
    <% include header %>
    <div class="container" id="logout">
        <p>&nbsp;</p>
        <p class="alert alert-success">注销成功</p>
    </div>
</body>
</html>