<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
  </head>
  <body>
  	<div class="container" id="menu">
  		<h1 class="lead"><%= title %></h1>

		<div class="lead">
			<a class="btn btn-small btn-primary" data-bind="click: menuEvent.add"><i class="icon-plus"></i> 增加菜单项</a>
			<a class="btn btn-small" data-bind="click: menuTypeEvent.add"><i class="icon-plus"></i> 增加菜单类别项</a>
		</div>

		<table class="table table-hover table-bordered">
			<colgroup>
				<col style="width: 5%" />
				<col style="width: 25%" />
				<col style="width: 40%" />
				<col style="width: 8%" />
				<col style="width: 22%" />
			</colgroup>
		    <thead>
		  		<tr>
			  		<th></th>
			  		<th>名称</th>
			  		<th>角色列表</th>
			  		<th>排序号</th>
			  		<th>操作</th>
		  		</tr>
		  	</thead>
		  	<tbody data-bind="foreach: list">
		  		<tr>
		  			<td>
		  				<a class="btn btn-mini" data-bind="click: $root.menuTypeEvent.toggle">
		  					<i class="icon-arrow-right" data-bind="visible: !showMenus()"></i>
		  					<i class="icon-arrow-down" data-bind="visible: showMenus"></i>
		  				</a>
		  			</td>
		  			<td data-bind="text: name"></td>
		  			<td data-bind="text: roles"></td>
		  			<td data-bind="text: orderId"></td>
		  			<td>
		  				<a class="btn btn-mini" data-bind="click: $root.menuEvent.add"><i class="icon-plus"></i> 增加</a>
						<a class="btn btn-mini" data-bind="click: $root.menuTypeEvent.edit"><i class="icon-edit"></i> 编辑</a>
						<a class="btn btn-mini" data-bind="click: $root.menuTypeEvent.delete"><i class="icon-remove"></i> 删除</a>
		  			</td>
		  		</tr>
		  		<tr data-bind="visible: showMenus">
		  			<td colspan="5">
					    <table class="table table-hover table-bordered">
					    	<caption></caption>
					  		<thead>
					  			<tr>
						  			<th>序号</th>
						  			<th>名称</th>
						  			<th>类别</th>
						  			<th>链接地址</th>
						  			<th>菜单参数</th>
						  			<th>授权角色</th>
						  			<th>排序号</th>
						  			<th>操作</th>
					  			</tr>
					  		</thead>
					  		<tbody data-bind="foreach: menus">
					  			<tr>
					  				<td data-bind="text: $index"></td>
					  				<td data-bind="text: name"></td>
					  				<td data-bind="text: type"></td>
					  				<td data-bind="text: url"></td>
					  				<td data-bind="text: params"></td>
					  				<td data-bind="text: roles"></td>
					  				<td data-bind="text: orderId"></td>
					  				<td>
										<a class="btn btn-mini" data-bind="click: $root.menuEvent.edit"><i class="icon-edit"></i> 编辑</a>
										<a class="btn btn-mini" data-bind="click: $root.menuEvent.delete"><i class="icon-remove"></i> 删除</a>
					  				</td>
					  			</tr>
					  		</tbody>
					  	</table>
		  			</td>
		  		</tr>
		  	</tbody>
		</table>		

	  	<div id="edit_menu" class="modal hide fade">
	    	<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3>编辑菜单内容</h3>
			</div>
			<div class="modal-body">
				<div class="form-horizontal" data-bind="with: currentMenuViewModel">
					<div class="control-group">
					    <label class="control-label" for="name">名称：</label>
					    <div class="controls">
					      <input type="text" id="name" data-bind="value: name" placeholder="名称" />
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="type">类别：</label>
					    <div class="controls">
					      <select id="type" data-bind="value: name" >
					      	
					      </select>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="url">链接地址：</label>
					    <div class="controls">
					      <input type="text" id="url" data-bind="value: url" placeholder="链接地址"/>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="name">菜单参数：</label>
					    <div class="controls">
					      <input type="text" id="params" data-bind="value: params" placeholder="菜单参数" />
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="name">授权角色：</label>
					    <div class="controls">
					        <label class="checkbox inline">
					      		<input type="checkbox" value="1" data-bind="checked: roles" />角色1
					        </label>
					        <label class="checkbox inline">
					      		<input type="checkbox" value="2" data-bind="checked: roles" />角色1
					        </label>
					        <label class="checkbox inline">
					      		<input type="checkbox" value="3" data-bind="checked: roles" />角色1
					        </label>
					    </div>
					</div>
					<div class="control-group">
						<label class="control-label" for="orderId">排序号：</label>
						<div class="controls">
							<input type="text" class="input-mini" id="orderId" data-bind="value: orderId" />
						</div>
					</div>
		    	</div>
	        </div>
	        <div class="modal-footer">
			    <a href="#" class="btn" data-bind="click: menuEvent.reset">清空</a>
			    <a href="#" class="btn btn-primary" data-bind="click: menuEvent.save">保存</a>
		  	</div>
    	</div>
    	<div id="edit_menu_type" class="modal hide fade">
	    	<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3>编辑菜单类别</h3>
			</div>
			<div class="modal-body form-horizontal" data-bind="with:currentMenuTypeViewModel">
				<div data-bind="visible: message.show, text: message.msg, css: message.type"></div>
				<div class="control-group">
					<label class="control-label" for="tname">名称：</label>
					<div class="controls">
						<input type="text" data-bind="value: name" id="tname" placeholder="名称" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="torderId">排序号：</label>
					<div class="controls">
						<input type="text" class="input-mini" id="torderId" data-bind="value: orderId" />
					</div>
				</div>
	        </div>
	        <div class="modal-footer">
			    <a href="reset" class="btn" data-bind="click: menuTypeEvent.reset">清空</a>
			    <a href="save" class="btn btn-primary" data-bind="click: menuTypeEvent.save">保存</a>
		  	</div>
	    </div>
  	</div>

    <script src="/javascripts/libs/require.js"></script>
    <script type="text/javascript">
    	var menuData = <%- JSON.stringify(menuData) %>;
    	<% include ../requirejs-config %>
    	require(['/javascripts/admin/menu.js'])
    </script>
  </body>
</html>