<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
</head>
<body>
    <% include header %>
    <div class="container" id="regist">
        <div data-bind="visible: message.showInDefault, text: message.msg, css: message.type"></div>

        <form id="login_form" class="form-horizontal">
            <fieldset>
                <legend>
                    <%= title %></legend>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">用 户 名：</label>
                    <div class="controls">
                        <input type="text" id="loginName" placeholder="用 户 名"></div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                    <div class="controls">
                        <input type="text" id="password" placeholder="密码"></div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password2">确认密码：</label>
                    <div class="controls">
                        <input type="text" id="password2" placeholder="用 户 名"></div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">真实姓名：</label>
                    <div class="controls">
                        <input type="text" id="name" placeholder="真实姓名"></div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">E - Mail：</label>
                    <div class="controls">
                        <input type="text" id="email" placeholder="mail@example.com"></div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">注册</button>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a href="login" class="link-btn">已注册用户通道</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>