.input{padding:8px 10px;border:1px solid #bbb;background:#fff;box-shadow:0 1px 1px rgba(100, 100, 100, 0.15);}
.btn{background-color:#7dc234;color:#eee;padding:8px 10px;border:0px;}.btn:hover{background:#81a600;}
.btn-small{padding:4px 8px;}.btn-small i{margin-top:2px;}
